.add-product-form-container {
  height: 588px;
  background: #dedbdb;
  display: flex;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 90%;
  width: 50%;
  background: white;
  padding: 20px;
}

.add-product-form div {
  margin-bottom: 10px;
}

.add-product-form div input,
textarea {
  width: 96%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid;
}

.add-product-btn {
  padding: 10px;
  cursor: pointer;
}

.error-msg {
  color: red;
  font-size: 0.9em;
}
